		body{
			padding:0;
			margin:0;
		}
		#mynavi{
			width:90%;
		}
		.navbar , footer{
			background-color:#080d12;
		}
		#mynavi a{
			font-size:1.1rem;
			font-family: 'Poppins', sans-serif;
			font-weight:300;
		}
		.myBtn{
			background:none;
			position:absolute;
			right:5px;
			top:6px;
			border:none;
		}
		.mySearch input{
			border-radius:20px;
			background-color:#ECCFD0;
			outline:none;
		}
		#head .position-absolute{
			left:50%;
			top:50%;
			transform:translate(-50%,-50%);
			width:80%;
		}*/
		/*#head .position-absolute{
			left:50%;
			top:50%;
			transform:translate(-50%,-57%);
			width:80%;
		}*/
		#head h2{
			font-family: 'Poppins', sans-serif;
			font-weight:300;
			font-size:2.5rem;
		}
		#head p{
			font-family: 'Poppins', sans-serif;
			font-weight:300;
			font-size:1.7rem;
		}
		.bor{
			border:2px solid #D44A53;
			width:3rem;
		}
		#trending h2{
			font-size:2.3rem;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
		}
		#trending .mydemo{
			width:95%;
			margin:auto;
		}
		#trending .mydem h6{
			color:#ffffff;
			background-color:rgba(0,0,0,0.5);
			font-size:1.2rem;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			line-height:31px;
		}
		#trending .mydemo h5{
			color:#a12b47;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			font-size:1.3rem;
		}
		#trending .mydemo p{
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			font-size:1.1rem;
		}
		#trending .mydemo h6{
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			font-size:1.1rem;
		}
		#trending .Announcements h2{
			font-size: 2.3rem;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
		}
		#trending .Announcements {
			font-size: 1rem;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
		}
		footer .container{
			width:85%;
			margin:auto;
		}
		footer h2{
			color:#ec6066;
			font-size:1.5rem;
		}
		footer p{
			color:#ffffff;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			font-size:1rem;
		}
		footer .foot h4{
			color:#ec6066;
			font-size:1.3rem;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
		}
		footer ul{
			list-style-type:none;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
		}
		footer a{
			text-decoration:none;
			color:#ffffff;
		}
		footer .note{
			list-style-type:none;
			font-family: 'Poppins', sans-serif;
			font-weight:400;
			font-size:1rem;
		}

		footer input[type='email']{
			width:266px;
			border:none;
			outline:0;
			color:black;
			font-size:11px;
			color:black;
			border-top-left-radius:5px;
			border-bottom-left-radius:5px;
			padding:9px 9px;
			display:inline-block;
			float:left;
			cursor: pointer;
			position:relative;
		}
		footer button{
			padding:6px; 
			color:black;
			font-size:15px;
			
			cursor: pointer;
			border-top-right-radius:5px;
			border-bottom-right-radius:5px;
			display:inline-block;
			border:none;
			background-color:#ec6066;
		}
		footer li {
			margin: 20px 0px;
			padding: 0;
			list-style-type: none;
			display-inline: block;
			font-size: 1rem;
			cursor: pointer;
		}
		
	@media(min-width:320px) and (max-width:575px){
		.navbar-expand-sm{
			flex-wrap:wrap!important;
		}
		nav .search-wrapper{
			display:block!important;
			width:100%;
		}
		#mynavi a{
			font-size:.9rem;
		}
		#mynavi .nav-link{
			padding-left:10px!important;
			padding-right:10px!important;
		}
		.mySearch input{
			border-radius:10px;
			opacity: 0.8;
			margin-top:15px;
		}
		#head h3{
			display:;
		}
		#head .hide{
			display:none;
		}
		#trending .mycol{
			margin-top:10px;
		}
		#trending h2, .Announcements h2{
			font-size:1.5rem!important;
		}
		#trending .bor{
			width:1.5rem;
		}
		#trending .borrght, .rght{
			top:-4px!important;
			left:9px!important;
		}
		#trending .mydem h6{
			font-size:0.8rem;
			line-height:18px;
		}
		#trending .lft{
			margin-bottom:30px!important;
		}
		#trending .mydemo{
			text-align:center;
		}
		footer h2{
			font-size:1.3rem!important;
			text-align:center;
		}
		footer h4{
			font-size:.9rem!important;
			text-align:center;
		}
		footer h6{
			font-size:0.6rem!important;
			text-align:center;
		}
		footer li{
			font-size:0.6rem!important;
			text-align:center;
		}
		footer p{
			font-size:0.6rem!important;
			text-align:center;
		}
		footer .him{
			margin-top:17px!important;
		}
		footer .subs{
			margin-top:17px;
		}
		
	}
	
	@media(min-width:575px) and (max-width:768px){
		.navbar-expand-sm{
			flex-wrap:wrap!important;
		}
		nav .search-wrapper{
			display:block!important;
			width:100%;
		}
		#mynavi a{
			font-size:.9rem;
		}
		#mynavi .nav-link{
			padding-left:10px!important;
			padding-right:10px!important;
		}
		.mySearch input{
			border-radius:10px;
			opacity: 0.8;
			margin-top:15px;
		}
		#head h3{
			display:none;
		}
		#head h2{
			font-size:1.4rem!important;
		}
		#head p{
			font-size:.7rem;
		}
		#head .btn{
			font-size:.5rem;
			
		}
		#trending .mydem h6{
			font-size:1rem!important;
			line-height:22px;
		}
		#trending .mycol{
			margin-top:10px;
		}
		#trending h2, .Announcements h2{
			font-size:2rem!important;
		}
		#trending .lft{
			margin-bottom:30px!important;
		}
		footer h2{
			font-size:1.3rem!important;
			text-align:center;
		}
		footer h4{
			font-size:1.2rem!important;
			text-align:center;
		}
		footer h6{
			font-size:0.7rem!important;
			text-align:center;
		}
		footer li{
			font-size:0.9rem!important;
			text-align:center;
		}
		footer p{
			font-size:0.9rem!important;
			text-align:center;
		}
		footer input[type='email']{
			width:250px;
		}
		footer .subs{
			margin-top:17px;
		}
		
		
	}
	
	@media(min-width:768px) and (max-width:992px){
		#head h3{
			display:none;
		}
		#head h2{
			font-size:1.7rem!important;
		}
		#head p{
			font-size:.9rem;
		}
		#head .btn{
			font-size:.7rem;
		}
		#trending .mycol{
			margin-top:10px;
		}
		#trending .lft{
			margin-bottom:30px!important;
		}
		footer h2{
			font-size:1.3rem!important;
			text-align:center;
		}
		footer h4{
			font-size:1.2rem!important;
			text-align:center;
		}
		footer h6{
			font-size:0.7rem!important;
			text-align:center;
		}
		footer li{
			font-size:0.9rem!important;
			text-align:center;
		}
		footer p{
			font-size:0.9rem!important;
			text-align:center;
		}
		footer .subs{
			margin-top:17px;
		}
		
		
	}
	
	@media(min-width:992px) and (max-width:1200px){
		#head h3{
			display:none;
		}
		#head h2{
			font-size:2.1rem!important;
		}
		#head p{
			font-size:1.1rem;
			
		}
		#head .btn{
			font-size:.9rem;
		}
		footer h2{
			font-size:1.3rem!important;
		}
		footer h4{
			font-size:1.2rem!important;
		}
		footer h6{
			font-size:0.7rem!important;
		}
		footer li{
			font-size:0.9rem!important;
		}
		footer p{
			font-size:0.9rem!important;
		}
		
	
		
	}
	
	@media(min-width:1200px) and (max-width:1400px){
		#head h3{
			display:none;
		}
		#head h2{
			font-size:2.4rem!important;
		}
		#head p{
			font-size:1.4rem;
		}
		footer h2{
			font-size:1.3rem!important;
		}
		footer h4{
			font-size:1.2rem!important;
		}
		footer h6{
			font-size:0.9rem!important;
		}
		footer li{
			font-size:0.9rem!important;
		}
		
		
		
	}
	
	@media(min-width:1400px){
		#head h3{
			display:none;
		}
		#head h2{
			font-size:2.5rem!important;
		}
		#head p{
			font-size:1.7rem;
		}
		
	}
		